@font-face {
  font-display: swap;
  font-family: 'FugazOne';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/FugazOne-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'SourceCodePro';
  font-style: normal;
  src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}
