html {
  min-height: 100vh;
}

body {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  font-size: $font-size;
  line-height: 1.5rem;
  min-height: 100vh;

  &.disable-scroll {
    overflow: hidden;
  }
}

main {
  flex: 1;
  margin-bottom: 3rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: calc($navHeight + $navPadding);

  > section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 876px;
  position: relative;
}

#app {
  min-height: 450px;
}

section {
  padding: 3rem 0;
  position: relative;

  &.divider {
    background-color: $color-divider;
  }
}
