@import 'reset';
@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'legible';
@import 'layout';

@import 'components/button';
@import 'components/footer';
@import 'components/form';
@import 'components/header';
@import 'components/notification';
@import 'components/password-generator';
@import 'components/table';

@import 'responsive';

h1,
.header-1,
h2,
.header-2,
h3,
.header-3,
h4,
.header-4,
h5,
.header-5,
h6,
.header-6 {
  font-family: 'FugazOne';
}

body {
  color: $color-black;
  font-family: 'SourceCodePro';
}

a {
  color: $color-black;
  font-family: 'FugazOne';
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

::-moz-selection,
::selection {
  background: $color-focus;
  color: $color-white;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.main-content-link:focus {
  align-items: center;
  background-color: $color-focus;
  color: $color-white;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 1rem 0;
  position: relative;
  top: 0;
  height: 1em;
  width: 100vw;
  overflow: auto;

  + header {
    position: relative;
  }
}

a:focus-visible {
  border: 0 !important;
  outline-color: $color-focus !important;
  outline-style: solid;
  outline-width: 2px;
}

a:hover {
  border: 0 !important;
  color: $color-focus;
}
