$color-white: #fff;
$color-black: #222;

$color-background: #fff;
$color-header: #fff;
$color-password-generator: #e1ecdc;
$color-password-generator-gradient: linear-gradient(180deg, $color-password-generator 35%, darken($color-password-generator, 5) 100%);
$color-password-generator-background: #fff;
$color-button: #ea534c;
$color-button-hover: #d04e48;
$color-divider: #e1ecdc;
$color-card: #222;
$color-footer: $color-black;
$color-footer-text: $color-white;
$color-focus: #607d62;
$color-focus-dark: #607d62;

$font-size: 16px;
$font-size-large: 1.2rem;
$font-size-small: 0.8rem;

$center-width: 876px;

$navHeight: 40px;
$navPadding: 0.5rem;

// $breakpoint-desktop: ;
$breakpoint-tables: 876px;
$breakpoint-mobile: 500px;

$border-radius: 10px;