.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.button.button--mobile {
  display: none;
  padding: 1rem;
}

.button {
  @include box-shadow;
  background-color: $color-button;
  border: 2px solid transparent;
  border-radius: $border-radius;
  color: $color-white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;

  &:hover {
    background-color: $color-button-hover;
    box-shadow: none;
    color: $color-white;
  }

  &:focus-visible,
  &:focus-visible {
    border: 2px solid $color-white;
    outline-color: $color-focus !important;
    outline-style: solid;
    outline-width: 2px;
  }
}

.button--generate {
  align-content: center;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.button--round {
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  display: inline-flex;
  font-size: 0;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  text-transform: uppercase;

  &:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
  }
}

.button--copy::before {
  background-image: url('../images/copy-solid-white.svg');
}

.button--analyse::before {
  background-image: url('../images/magnifying-glass-solid-white.svg');
}