body.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

header {
  background-color: $color-white;
  background-position: bottom left;
  background-size: cover;
  color: $color-black;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  transition: transform 0.4s;

  .logo-link {
    text-decoration: none;
  }

  > .center {
    align-items: center;
    display: flex;
    padding: #{$navPadding} 1rem;
  }

  nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    overflow: auto;
    position: relative;

    ul {
      display: none;
    }

    a {
      color: $color-black;
      display: inline-block;
      font-size: $font-size-large;
      padding: 0.2rem;
      margin-bottom: 0.5rem;
    }
  }

  #nav-toggle-button {
    background-color: transparent;
    background-image: url(../images/bars-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    border: 2px solid transparent;
    border-radius: $border-radius;
    color: $color-black;
    cursor: pointer;
    font-size: 0;
    height: 16px;
    margin-left: auto;
    padding: 1rem;
    width: 16px;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color-focus;
      background-image: url(../images/bars-solid-white.svg);

      border: 2px solid #fff;
      outline-color: #607d62 !important;
      outline-style: solid;
      outline-width: 2px;
    }
  }

  &.nav-open {
    #nav-toggle-button {
      background-image: url(../images/xmark-solid.svg);

      &:hover,
      &:focus,
      &:focus-visible {
        background-image: url(../images/xmark-solid-white.svg);
      }
    }

    nav {
      align-items: flex-start;
      background-color: $color-header;
      bottom: 0;
      display: flex;
      height: calc(100vh - (#{$navHeight}) - 1rem);
      justify-content: flex-start;
      padding: 1rem;
      z-index: 9999;

      ul {
        display: block;
        position: relative;
        @extend .center;
        width: $center-width;
      }
    }
  }
}