.notification {
  background: #333;
  border-radius: 0.5rem;
  bottom: 2rem;
  color: $color-white;
  display: none;
  font-size: $font-size-small;
  left: 50%;
  max-width: 500px;
  min-width: 300px;
  padding: 1rem;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  z-index: 9999;

  @include box-shadow;
}